/* * * CUSTOM PROPS * * */
:root
{
  --body-bg-color: #fafafa;
  --element-bg: #fff;
  --text-color: #111517;
}
/* * FONTS * */
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Light.woff2') format('woff2'),
  url('../fonts/NunitoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/NunitoSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
  url('../fonts/NunitoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
  url('../fonts/NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
*:focus
{
  outline: 3px dotted green;
  outline-offset: 2px;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Nunito Sans', Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  transition: 0.2s linear;
  overflow-x: hidden;
}
/* * * DARK MODE * * */
.dark-mode
{
  --body-bg-color: #202C36;
  --element-bg: #2B3844;
  --text-color: #fff;
}
img
{
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/* LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: 0.2s linear, opacity 0.2s linear, visibility 0.3s linear;
}

.loader.close {
  opacity: 0;
  visibility: hidden;
}

.loader .spinner .icon {
  font-size: 80px;
  color: #111517;
}

/* button */
.button,
button {
  font-family: "Nunito Sans", sans-serif;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background-color: white;
  color: #111517;
  text-transform: capitalize;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  padding: 7px 21px;
  border-radius: 4px;
  transition: 0.2s linear;
}

.scale-effect:active {
  transform: scale(0.88);
  transition: transform 0.2s linear;
}

.show-more {
  margin: 60px 0;
}

.show-more .btn {
  font-weight: bold;
  font-size: 16px;
}

/* *** CONTAINER *** */
.container
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
}
/* * HEADER * */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--element-bg);
  box-shadow: 0px 2px 4px 0px #0000000E;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-heading {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  padding: 0;
  margin: 0;
}
.site-logo-link
{
  text-decoration: none;
  color: var(--text-color);
}
.site-logo-link:hover
{
  border-bottom: 2px solid var(--text-color);
}
.site-logo-link:active
{
  opacity: 0.6;
}
.dark-mode-toggler {
  display: flex;
  align-items: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--text-color);
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid transparent;
}
.dark-mode-toggler:hover
{
  border-bottom: 2px solid var(--text-color);
}
.dark-mode-toggler:active
{
  opacity: 0.6;
}
.dark-mode-toggler-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  color: #111517;
}
.dark-mode .dark-mode-toggler-icon{
  color: #fff;
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}
/* ========== SEARCH ============ */
.search-form
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  color: var(--text-color);
}
.search-form-input
{
  min-width: 480px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--element-bg);
  padding-top: 18px;
  padding-right: 75px;
  padding-bottom: 18px;
  padding-left: 75px;
  background-image: url(../icons/icon-search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 35px center;
  box-shadow: 0px 2px 9px 0px #0000000E;
  margin-right: 10px;
}
.countries-select
{
  min-width: 200px;
  padding: 18px 24px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-color);
  cursor: pointer;
  border: 0;
  background-color: var(--element-bg);
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px #0000000E;
}

.filters .dropdown-wrapper {
  width: 200px;
}

.filters .dropdown-wrapper.open .dropdown-header .icon {
transform: rotate(180deg);
}

.filters .dropdown-wrapper.open .dropdown-body {
opacity: 1;
visibility: visible;
transform: translateY(0);
z-index: 9;
}

.filters .dropdown-header,
.filters .dropdown-body {
position: relative;
width: 100%;
border-radius: 6px;
background: white;
font-weight: 600;
font-size: 15px;
box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
transition: 0.2s linear;
}

.filters .dropdown-header {
padding: 15px 20px;
cursor: pointer;
z-index: 2;
}

.filters .dropdown-header .icon {
font-size: 13px;
transition: transform 0.2s linear;
}

.filters .dropdown-body {
position: absolute;
margin-top: 5px;
opacity: 0;
visibility: hidden;
z-index: 1;
padding: 15px 0;
transform: translateY(-20px);
}

.filters .dropdown-body li {
padding: 8px 25px;
text-transform: capitalize;
cursor: pointer;
}

.filters .dropdown-body li:hover {
background-color: #f2f2f2;
}

.filters .dropdown-body li:last-child {
margin-bottom: 0;
}
.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dark-mode .dropdown-header{
  background-color: var(--element-bg);
}
.flex {
  display: flex;
}

.flex.flex-jc-sb {
  justify-content: space-between;
}

.flex.flex-jc-c {
  justify-content: center;
}

.flex.flex-ai-c {
  align-items: center;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}






/* * * INDEX COUNTRIES * * */
.scale-effect{
  transition: transform 0.5s ease;
}
.scale-effect:hover {
  transform: scale(1.08);
  transition: transform 0.5s ease;
}
.index-countries{
  display: flex;
  justify-content: center;
}
.index-countries-list {
  display: grid;
  grid-template-columns:  264px 264px 264px 264px;
  grid-gap: 75px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.index-countries-list-item {
  border-radius: 7px;
  max-width: 264px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
/* * * INDEX COUNTRY * * */
.index-country {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  background-color: var(--element-bg);
}
.index-country-flag img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.index-country-info {
  padding: 24px 24px 48px;
}
.index-country-name {
  display: inline-block;
  margin: 0;
  margin-bottom: 24px;
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
}

.index-country-name:hover
{
  border-bottom: 2px solid var(--text-color);
}
.index-country-name:active
{
  opacity: 0.6;
}
.index-country-details {
  margin: 0;
}
.index-country-details-item
{
  display: flex;
  flex-wrap: wrap;
}
.index-country-details-item:not(:last-child) {
  margin-bottom: 8px;
}
.index-country-details-title {
  font-weight: 600;
}
.index-country-details-value {
  margin-left: 4px;
}


@media only screen and (max-width: 1350px) {
  .index-countries-list {
    grid-template-columns:  264px 264px 264px 264px;
    grid-gap: 50px;
  }
}
@media only screen and (max-width: 1250px) {
  .index-countries-list {
    grid-template-columns:  244px 244px 244px 244px;
    grid-gap: 40px;
  }
  .index-countries-list-item {
    max-width: 244px;
  }
}
@media only screen and (max-width: 1150px) {
  .index-countries-list {
    grid-template-columns:  224px 224px 224px 224px;
    grid-gap: 25px;
  }
  .index-countries-list-item {
    max-width: 224px;
  }
  .index-country-flag {
    height: 140px;
  }
  .index-country-info {
    padding: 18px 18px 36px;
  }
  .index-country-name {
    margin-bottom: 18px;
  }
  .index-country-details-item:not(:last-child) {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 1000px) {
  .index-countries-list {
    max-width: 600px;
    display: flex;
    grid-gap: 0;
  }
  .index-countries-list-item {
    max-width: 264px;
    margin-right: 72px;
    margin-bottom: 72px;
  }
  .index-countries-list-item:nth-child(2n){
    margin-right: 0;
  }
  .index-country-flag {
    height: 160px;
  }
  .index-country-info {
    padding: 24px 24px 48px;
  }
  .index-country-name {
    margin-bottom: 18px;
  }
  .index-country-details-item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .search-form
  {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  .search-form-input
  {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 650px) {
  .index-countries-list-item {
    max-width: 240px;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .index-countries-list-item:nth-child(2n){
    margin-right: 0;
  }
}
@media only screen and (max-width: 560px) {
  .search-form-input{
    min-width: 340px;
  }
  .index-countries-list{
    flex-direction: column;
    align-items: center;
  }
  .index-countries-list-item {
    min-width: 290px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .index-country-flag {
    width: 290px;
    height: 175px;
  }
}
@media only screen and (max-width: 450px) {
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-heading {
    font-size: 14px;
    line-height: 20px;
  }
  .dark-mode-toggler{
    font-size: 12px;
    line-height: 16px;
  }
}